force-app/main/default/flows/BB_Email_to_Lead_based_on_activity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Custom_notification_alert</name>
        <label>Custom notification alert</label>
        <locationX>792</locationX>
        <locationY>758</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>Lead_custom_notification.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>customNotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>LeadOwner</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>Lead_Loop.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_24Inactivity</name>
        <label>Email for 24Inactivity</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jagadeeswararao.kusumuru@absyz.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead is  In-Active for last 24 Hours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_48Inactivity</name>
        <label>Email for 48Inactivity</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyfor48</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jagadeeswararao.kusumuru@absyz.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead is In-Active for 48 Hours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>LeadOwnerIdAssignment</name>
        <label>LeadOwnerIdAssignment</label>
        <locationX>792</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>LeadOwnerId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Lead_Loop.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_notification_alert</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Lead_Activity_timeline</name>
        <label>Lead Activity timeline</label>
        <locationX>748</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Lead_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>After_24Hrs_Inactivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>After24Hrs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Loop.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>After48Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_24Inactivity</targetReference>
            </connector>
            <label>After 24Hrs Inactivity</label>
        </rules>
        <rules>
            <name>After_48Hrs_Inactivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>After48Hrs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Loop.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>After72Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_48Inactivity</targetReference>
            </connector>
            <label>After 48Hrs Inactivity</label>
        </rules>
        <rules>
            <name>After_72Hrs_Inactivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>After72Hrs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Lead_Loop.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>After96Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_custom_notification</targetReference>
            </connector>
            <label>After 72Hrs Inactivity</label>
        </rules>
        <rules>
            <name>After_96Hrs_Inactivity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Loop.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>After96Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Loop</targetReference>
            </connector>
            <label>After 96Hrs Inactivity</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>After24Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-1</expression>
    </formulas>
    <formulas>
        <name>After48Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-2</expression>
    </formulas>
    <formulas>
        <name>After72Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-3</expression>
    </formulas>
    <formulas>
        <name>After96Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-4</expression>
    </formulas>
    <interviewLabel>BB Email to Lead based on activity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BB Email to Lead based on activity</label>
    <loops>
        <name>Lead_Loop</name>
        <label>Lead Loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_lead_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Lead_Activity_timeline</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>only qualified lead records</description>
        <name>Get_lead_records</name>
        <label>Get lead records</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <filters>
            <field>BB_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Lead</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Lead_custom_notification</name>
        <label>Lead custom notification</label>
        <locationX>792</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LeadOwnerIdAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Inactive Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_lead_records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>customNotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;You are inactive for the past 3 days.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Lead_Loop.Name} !&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Nothing is happening from you for the past 24 Hours.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>EmailBodyfor48</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!Lead_Loop.Name} !&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Its been 2days you have not done anything for your lead.&lt;/p&gt;&lt;p&gt;Thankyou&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>LeadOwner</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LeadOwnerIdd</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
