force-app/main/default/flows/BulkUpdateScreenFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Update_All_Records</name>
        <label>Update_All_Records</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <actionName>cmpJKBulkUpdateCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assignment_1</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <elementReference>fieldAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <elementReference>FieldValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectAPIName</name>
            <value>
                <elementReference>ObjectAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskClosingReason</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uniqueIdentifier_Invocable</name>
            <value>
                <stringValue>Update_All_Records</stringValue>
            </value>
        </inputParameters>
        <nameSegment>cmpJKBulkUpdateCtrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Update_Docket_Activity_Records</name>
        <label>Update_Docket_Activity_Records</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>cmpJKBulkUpdateCtrl</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_All_Records</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <elementReference>fieldAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>fieldValue</name>
            <value>
                <elementReference>FieldValue</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectAPIName</name>
            <value>
                <elementReference>ObjectAPIName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>taskClosingReason</name>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>uniqueIdentifier_Invocable</name>
            <value>
                <stringValue>Update_Docket_Activity_Records</stringValue>
            </value>
        </inputParameters>
        <nameSegment>cmpJKBulkUpdateCtrl</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assignment_1</name>
        <label>Assignment 1</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>FlowStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Comments</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Bulk_Update</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Toggle_Conditions</name>
        <label>Toggle Conditions</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Update_All_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Toggle_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>toggleValue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ShowConfirmationsScreen</targetReference>
            </connector>
            <label>Toggle == true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BulkUpdateScreenFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BulkUpdateScreenFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Bulk_Update</name>
        <label>Bulk Update</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Toggle_Conditions</targetReference>
        </connector>
        <fields>
            <name>BulkUpdateScreen</name>
            <extensionName>c:cmpJKBulkUpdate</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <elementReference>fieldAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectAPIName</name>
                <value>
                    <elementReference>ObjectAPIName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputPicklistFieldValue</name>
                <value>
                    <elementReference>FieldValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>toggleValue</name>
                <value>
                    <elementReference>toggleValue</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>flowStatus</name>
                <value>
                    <elementReference>FlowStatus</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>fieldAPIName</assignToReference>
                <name>fieldName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ObjectAPIName</assignToReference>
                <name>objectAPIName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>toggleValue</assignToReference>
                <name>toggleValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>FieldValue</assignToReference>
                <name>inputPicklistFieldValue</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 26, 26);&quot;&gt;Error : {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowCommentScreen</name>
        <label>ShowCommentScreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Docket_Activity_Records</targetReference>
        </connector>
        <fields>
            <name>cmpJKBulkUpdateTaskCommentScreen</name>
            <extensionName>c:cmpJKBulkUpdateTaskCommnetScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>comments</name>
                <value>
                    <elementReference>Comments</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Comments</assignToReference>
                <name>comments</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ShowConfirmationsScreen</name>
        <label>ShowConfirmationsScreen</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>ShowCommentScreen</targetReference>
        </connector>
        <fields>
            <name>cmpJKBulkUpdateConfirmationScreen</name>
            <extensionName>c:cmpJKBulkUpdateConfirmationScreen</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Ok</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bulk_Update</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Comments</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>fieldAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FieldValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FlowStatus</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ObjectAPIName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>toggleValue</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
