force-app/main/default/flows/Delete_Contacts_Autolaunched_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <description>Delete Contacts Autolaunched Flow</description>
    <interviewLabel>Delete Contacts Autolaunched Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Contacts Autolaunched Flow</label>
    <loops>
        <description>Loop through ids..</description>
        <name>Loop_through_Ids</name>
        <label>Loop through Ids</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Delete_Contact_Records</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <description>Delete Contact Records</description>
        <name>Delete_Contact_Records</name>
        <label>Delete Contact Records</label>
        <locationX>264</locationX>
        <locationY>278</locationY>
        <connector>
            <targetReference>Loop_through_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_through_Ids</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordDeletes>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Loop_through_Ids</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>ids</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
