force-app/main/default/flows/Expanse_After_Insert_Update_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add</name>
        <label>Add</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AddMemberList</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Room_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Populating_Room_Fields</name>
        <label>Populating Room Fields</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Get_Room.Total_Active_Members__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AddMemberList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Room</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Active_Members_only</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Active Members only</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNextValueToReference>currentItem_Active_Members_only</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Room_Members</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Active_Members_only.Active__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Iterate_Room_Members</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Expanse After Insert/Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Expanse After Insert/Update Trigger</label>
    <loops>
        <name>Iterate_Room_Members</name>
        <label>Iterate Room Members</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Active_Members_only</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Populating_Room_Fields</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Room</name>
        <label>Get Room</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Room_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Room__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Room__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Room_Members</name>
        <label>Get Room Members</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Active_Members_only</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Room__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Room_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Room</name>
        <label>Update Room</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <inputReference>Get_Room</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Room</targetReference>
        </connector>
        <object>Room_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AddMemberList</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>currentItem_Active_Members_only</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Room_Member__c</objectType>
    </variables>
</Flow>
