force-app/main/default/flows/Lead_Inactivity_scedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Custom_Notification</name>
        <label>Custom Notification</label>
        <locationX>578</locationX>
        <locationY>636</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <elementReference>custom_notificaton.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>Lead inactive for the past 72Hours</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Alert</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIds</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_24Hrs_InActivity</name>
        <label>Email for 24Hrs InActivity</label>
        <locationX>50</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBody1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jagadeeswararao.kusumuru@absyz.com,chair.juts_0i@icloud.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>jagadeeswararao.kusumuru@absyz.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead InActivity For 24Hours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Email_for_inactivity_for_48Hours</name>
        <label>Email for inactivity for 48Hours</label>
        <locationX>314</locationX>
        <locationY>396</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Emailtoleadinactivityfor48Hours</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>jagadeeswararao.kusumuru@absyz.com,chair.juts_0i@icloud.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>jagadeeswararao.kusumuru@absyz.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Lead inactivity for 48 Hours</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Recipient_Id</name>
        <label>Recipient Id</label>
        <locationX>578</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>RecipientIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Custom_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_TimeLines</name>
        <label>Checking TimeLines</label>
        <locationX>578</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>After_24Hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Time24Hrs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Time48Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_24Hrs_InActivity</targetReference>
            </connector>
            <label>After 24Hrs</label>
        </rules>
        <rules>
            <name>After_48Hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Time48Hrs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Time72Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_inactivity_for_48Hours</targetReference>
            </connector>
            <label>After 48Hrs</label>
        </rules>
        <rules>
            <name>After_72Hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Time72Hrs</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>Time96Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>custom_notificaton</targetReference>
            </connector>
            <label>After 72Hrs</label>
        </rules>
        <rules>
            <name>After_96Hrs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Time96Hrs</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Lead_after_96Hours</targetReference>
            </connector>
            <label>After 96Hrs</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Time24Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-1</expression>
    </formulas>
    <formulas>
        <name>Time48Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-2</expression>
    </formulas>
    <formulas>
        <name>Time72Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-3</expression>
    </formulas>
    <formulas>
        <name>Time96Hrs</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-4</expression>
    </formulas>
    <interviewLabel>Lead Inactivity scedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Inactivity scedule</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Lead_after_96Hours</name>
        <label>Delete Lead after 96Hours</label>
        <locationX>842</locationX>
        <locationY>396</locationY>
        <inputReference>$Record</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>custom_notificaton</name>
        <label>custom notificaton</label>
        <locationX>578</locationX>
        <locationY>396</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Recipient_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>CustomNotifTypeName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Inactive Notification</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead Inactive Notification</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CustomNotificationType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_TimeLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BB_Due_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-03-24</startDate>
            <startTime>11:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBody1</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello {!$Record.Id} ,You are inActive for the past 24Hrs. Email belongs to JagadeeswaraRao Kusumuru&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Emailtoleadinactivityfor48Hours</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Hello {!$Record.Id} ,You are inActive for the past 48Hrs. Email belongs to JagadeeswaraRao Kusumuru&lt;/span&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecipientIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
