force-app/main/default/flows/Map_POC_in_FLOW.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>get_value_Record</name>
        <label>get value Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>InvocableApexForFlow2</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_screen1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__listOfRecords</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__record</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>keys</name>
            <value>
                <stringValue>0015g00001RO2YmAAL</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>listOfRecords</name>
            <value>
                <elementReference>get_accounts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableApexForFlow2</nameSegment>
        <outputParameters>
            <assignToReference>ValueRecord</assignToReference>
            <name>record</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Pass_Rec_Collections</name>
        <label>Pass Rec Collections</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>InvocableApexForFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>screen1</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__listOfValues</typeName>
            <typeValue>Account</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>listOfValues</name>
            <value>
                <elementReference>get_accounts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableApexForFlow</nameSegment>
        <outputParameters>
            <assignToReference>ReturnIds</assignToReference>
            <name>returnlistOfkeys</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Map POC in FLOW {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Map POC in FLOW</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_accounts</name>
        <label>get accounts</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pass_Rec_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_Of_Contacts__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_screen1</name>
        <label>Copy 1 of screen1</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_display</name>
            <fieldText>&lt;p&gt;{!ValueRecord.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen1</name>
        <label>screen1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>get_value_Record</targetReference>
        </connector>
        <fields>
            <name>display</name>
            <fieldText>&lt;p&gt;{!ReturnIds}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_accounts</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ReturnIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ValueRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
