force-app/main/default/flows/Room_ValidationRules.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add</name>
        <label>Add</label>
        <locationX>270</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>CountVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordCounting</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Errr_orMessage</name>
        <label>Errr\orMessage</label>
        <locationX>50</locationX>
        <locationY>803</locationY>
        <customErrorMessages>
            <errorMessage>You cannot add more than 2 active members into the Room.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Room_member_count_validation</name>
        <label>Room member count validation</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Room_is_full</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Room__r.Total_Active_Members__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>CountVariable</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Errr_orMessage</targetReference>
            </connector>
            <label>Room is full</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Room ValidationRules {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Room ValidationRules</label>
    <loops>
        <name>RecordCounting</name>
        <label>RecordCounting</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <collectionReference>Room_members_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Room_member_count_validation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Room_members_records</name>
        <label>Room members records</label>
        <locationX>182</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>RecordCounting</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Room__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Room__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Room_Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Room_members_records</targetReference>
        </connector>
        <object>Room_Member__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
